@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none; 
    color: inherit; 
}

body{
    color: #222;
    font-family: 'Noto Sans KR', sans-serif;
}

.header ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    justify-content: space-between;
    padding: 20px 50px;
}

.header li {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
}

.logo{
    font-family: 'SF_HambakSnow';
    color: #4D4D4D;
    font-size: 30px;
    padding: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #ddd;
}

section {
    display: flex;
    gap: 960px;
}

.square {
    width: 600px;
    height: 700px;
    background-color: #eee;
    position: absolute;
    top: 150px;
    left: 0;
}

.left .photo {
    width: 350px;
    position: absolute;
    left: 360px;
    top: 290px;
}

.photo img {
    width: 100%;
}

.right {
    margin-top: 300px;
}

.right div {
    display: flex;
    padding: 10px 0;
}

.right .bir {
    gap: 40px;
}

.right div img {
    padding-right: 14px;
}

.right .edu p:nth-child(3) {
    padding-left: 30px;
}

.edu img {
    width: 8%;
    height: 9%;
}

.bar {
    margin-top: 40px;
    width: 700px;
    border-top: 2px solid #d4d4d4;
}

.right ul {
    padding: 30px;
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
}

.right ul img {
    width: 80%;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,10%,0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.right {
    /* position: relative; */
    animation: fadeInUp 0.8s;
}
