@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none; 
    color: inherit; 
}

body{
    background-color: #aaa;
    color: #222;
    font-family: 'Noto Sans KR', sans-serif;

}

.header ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    justify-content: space-between;
    padding: 20px 50px;
}

.header li {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
}

.main {
    padding-left: 680px;
}


.main a {
    display: inline-block;
    position: relative;
    margin-top: 240px;
    padding: 60px 90px;
    padding-bottom: 30px;
    color: white;
  }

.main a p {
    padding: 160px 120px;
}

.main a p:nth-child(1){
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0px;
    padding-top: 80px;
}

.main a p:nth-child(2){
    font-family: 'SF_HambakSnow';
    color: #4D4D4D;
    font-size: 60px;
}

.main a p:nth-child(3){
    font-size: 16px;
    position: absolute;    
    right: 10px;
    bottom: 30px;
}

.main a span:nth-child(4){
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    animation: motion 0.3s 0s forwards;
}

@keyframes motion {
    0%{width: 0;}
    100%{width: 100%; padding: 2px;}
}

.main a span:nth-child(5){
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    right: 0;
    animation: motion 0.3s linear 0.6s forwards;
    transition: 0.6s;
}

.main a span:nth-child(6){
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition: 0.9s;
    animation: motio 0.3s linear 0.9s forwards;
}

@keyframes motio {
    0%{height: 0; }
    100%{height: 100%; padding: 2px;}
}

.main a span:nth-child(7){
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    transition: 0.3s;
    animation: motio 0.2s linear 0.3s forwards;
}


