@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none; 
    color: inherit; 
}

body{
    color: #222;
    font-family: 'Noto Sans KR', sans-serif;
}

.header ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    justify-content: space-between;
    padding: 20px 50px;
}

.header li {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
}

.logo{
    font-family: 'SF_HambakSnow';
    color: #4D4D4D;
    font-size: 30px;
    padding: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #ddd;
}


.main {
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 200px;
    position: relative;
}

.main h3 {
    padding: 90px;
    font-size: 22px;
}

.main .btn {
    position: absolute;
    left: 0;
    top: 70px;
}

.main .top {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.main ul {
    display: flex;
    width: 260px;
    justify-content: space-between;
}

.main ul li{
    color: #7C7C7C;
}

.main .inner .image {
    padding: 100px 0;
    width: 1000px;
    align-items: center;
    margin: 0 auto;
}

.main .inner .image img {
    width: 100%;
    border: 1px solid #D4d4d4;
}

.main .inner h4 {
    padding-bottom: 40px;
    font-size: 18px;
}

.main .inner .text {
    line-height: 2.5;
}